    <h2>current teaching</h2>


      
    <div class="news">
            <h2>current teaching</h2>
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign events = site.data.teaching -%}
              {% for item in events %} 
                {% if item.current %}
                <tr>
                  <td>
                    {{ item.title }}
                  </td>
                </tr>
                {% endif %}
              {%- endfor %} 
              </table>
            </div> 
          </div> 