<div class="card-item col">
  {%- if talk.page -%}
    <div class="card hoverable">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h6 class="card-title"><a href="{{ talk.page | relative_url }}">{{ talk.title }}</a></h6>
            {%- if talk.link -§}
            <p class="card-text"><a href="{{ talk.link }}">{{ talk.seminar }}</a>, {{ talk.place }} </p>
            {%- else -%}
            <p class="card-text">{{ talk.seminar }}, {{ talk.place }} </p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- else -%} 
  <div class="card">
    <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h6 class="card-title">{{ talk.title }}</h6>
            {%- if talk.link -§}
            <p class="card-text"><a href="{{ talk.link }}">{{ talk.seminar }}</a>, {{ talk.place }} </p>
            {%- else -%}
            <p class="card-text">{{ talk.seminar }}, {{ talk.place }} </p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
