<div class="card-item col">
  {%- if event.page -%}
  <a href="{{ event.page | relative_url }}">
    <div class="card hoverable">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title">{{ event.title }}</h3>
            <p class="card-text">{{ event.role }} ({{ event.term }}) </p>
            <div class="row ml-1 mr-1 p-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {%- else -%} 
  <div class="card">
    <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h3 class="card-title">{{ event.title }}</h3>
            <p class="card-text">{{ event.role }} ({{ event.term }}) </p>
            <div class="row ml-1 mr-1 p-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
