<div class="card-item col">
  {%- if event.page -%}
  <a href="{{ event.page | relative_url }}">
    <div class="card hoverable">
      <div class="row g-0">
        {%- if event.img -%}
        <div class="card-img col-md-6">
          {% include figure.html path=event.img alt=event.caption %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title">{{ event.title }}</h3>
            <p class="card-text">{{ event.course }}</p>
            <div class="row ml-1 mr-1 p-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {%- else -%} 
  <div class="card hoverable">
      <div class="row g-0">
        {%- if event.img -%}
        <div class="card-img col-md-6">
          {% include figure.html path=event.img alt=event.caption %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title">{{ event.title }}</h3>
            <p class="card-text">{{ event.course }}</p>
            <div class="row ml-1 mr-1 p-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
